body {
    background: rgb(137,53,193);
background: linear-gradient(90deg, rgba(137,53,193,1) 39%, rgba(172,69,190,1) 49%, rgba(184,18,221,1) 100%);
}
.form {
    text-align: center;
}

.form h1 {
    color: white;
}
.perfil {
    text-align: center;
    width: 50%;
}