body {
    background-color: darkgray;
}
#menu {
    width: 100%;
    height: 70px;
    background-color: red;
}
#menu img {
    height: 55px;
    margin-left: 10px;
}
.linkMenu {   
    color: aliceblue;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

.parte1 {
    width: 100%;
    height: 800px;
    text-align: center;

}
.parte1 img {
    margin-top: 20px;
    width: 75%;
    height: 500px;
}
.parte1 h1 {
    color: red;
}
.parte1 p {
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}