* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card Eventos Style */
.card {
    height: 500px;
}
.card-img-top {
    height: 200px;
    width: 100%;
    border-radius: 8px 8px 0px 0;
}

.titulo {
    height: 40px;
}
.card-title {
    font-weight: bold;
    font-size: 20px;
}

.dataLocal {
    height: 80px;
    padding: 10px 10px;
    width: 100%;
}
