body {
    background-color: white;
    margin: 0;
}

#menu {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkMenu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.hamburger {
    display: none;
}

#menu img {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.banner {
    width: 90%;
    height: 350px;
    padding: 60px;
    margin: 0;
    display: table;
    box-shadow: -1px -2px 5px 13px rgba(230, 225, 225, 0.75);
    background-color: darkgray;
}

.banner img {
    width: 30%;
    height: 300px;
    float: right;
}

.banner h1 {
    margin-top: 10px;
    width: 70%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.part2 {
    background-color: white;
    height: 600px;
    margin: 0 auto;
}

.part2 img {
    width: 40%;
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.part2 h1 {
    margin-top: 20px;
    width: 70%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(27, 27, 27);
    text-align: right;
    margin-left: 30%;
}

.part2 p {
    font-weight: bold;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .link {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    .banner {
        padding: 0px 20px 20px;
    }

    .banner .texto {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .banner h1 {
        font-size: 18px;
    }

    .banner img {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        float: none;
    }

    .part2 {
        padding: 0px 20px 20px;
    }

    .part2 p {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .part2 h1 {
        font-size: 18px;
    }

    .part2 img {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        float: none;
    }

}