body {
    background-color: black;
    margin: 0;
}
.nav {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img {
    height: 70px;
}
.nav .linkMenu {
    text-decoration: none;
    font-size: 24px;
    color: green;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav .menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.nav .hamburger {
    display: none;
}

.parte1 {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: green;
    margin-left: 10%;
    
}
.parte1 img {
    width: 40%;
}

.parte1 .texto {
    width: 40%;
    float: right;
}


