
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Noto+Sans:wght@500&display=swap');

body {
    margin: 0;
    background-color: #edede9;
}

header {
    width: 100%;
    display: flex;
    background-color: #264027;
    height: 10vh;
    justify-content: space-between;
    align-items: center;

}

.menu1 {
    margin-right: 50px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.linkMenu {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    width: 1.5vw;
}

.logo {
    height: 10vh;
}

.hb {
    display: none;
}

.menuHB {
    display: none;
}

/*  ====================================== */

.login {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.menuLogin {
    background-color: antiquewhite;
    padding: 50px 300px;
    border-radius: 8px;
    margin: 0;
}

.titleLogin {
    align-items: center;
}
.bodyLogin {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}


.rightLogin {
    margin: 0;
    width: 50%;
    float: right;
}

.rightLogin img {
    width: 100%;
}
.leftLogin {
    width: 50%;
    display: flex;
    align-items: center;
}

/* ======================================= */



